version: '3'

services:
  postgres:
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: "tourAgency"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  tour-agency:
    image: touragency-tour-agency
    ports:
      - "8075:8075"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/tourAgency?serverTimezone=UTC
      - TOKEN_SECRET=jwtappdemo
      - TOKEN_EXPIRED=3600000
